# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
assignment/node_modules
assignment/.pnp
assignment/.pnp.js
# testing
assignment/coverage

# production
assignment/build

# misc
assignment/.DS_Store
assignment/.env.local
assignment/.env.development.local
assignment/.env.test.local
assignment/.env.production.local

assignment/npm-debug.log*
assignment/yarn-debug.log*
assignment/yarn-error.log*
